<p id="notice"><%= notice %></p>

<h1>All Books Notes</h1>

<% @books.each do |book| %>
    <div style="border-top: 1px solid gray;  ">
        <%= render 'notes/list', book: book %>
    </div>
<% end %>
<br>
<%= link_to 'Back', books_path %>
